.notebook-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(8, 1fr) auto;

    header, aside, main, section {
        padding: 1rem;
    }

    header {
        grid-column: 1 / 12;
        height: 6rem;
        border: 1px solid gray;
    }

    aside {
        grid-column: 1;
        border: 1px solid gray;
        grid-row: 2 / 12;
        min-width: 17.5rem;
    }

    main {
        grid-column: 2 / span 6;
        grid-row: 2 / span 9;
        border: 1px solid gray;
    }

    section {
        height: 10rem;
        grid-column: 2 / -1;
        grid-row: 11;
        border: 1px solid gray;
    }
}
