.notebook-layout {
    display: grid;
    height: 100vh;
    grid: repeat(12, 1fr) / repeat(12, 1fr);

    aside,
    main,
    section {
        padding: 1rem;
    }

    header, nav {
        border-bottom: 1px solid gray;
    }

    header {
        grid-column: 1 / 1;
    }

    nav {
        grid-column: 2 / 13;
    }

    aside {
        grid-column: 1;
        border: 1px solid gray;
        grid-row: 2 / -1;
        min-width: 17.5rem;
    }

    main {
        grid-column: 2 / 13;
        grid-row: 2 / 11;
        border: 1px solid gray;
    }

    section {
        grid-column: 2 / 13;
        grid-row: 11 / 13;
        border: 1px solid gray;
    }
}
