@import "../../../variables.scss";

.nav-container {
    display: flex;
    justify-content: space-between;

    .notebook-nav {
        width: 100%;
        display: flex;
        align-items: flex-end;

        ul {
            display: flex;
            list-style-type: none;
            gap: 1rem;
            padding-inline: 1rem;

            li {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem 0.5rem 0 0;
                user-select: none;
                cursor: pointer;

                &.active {
                    border: 2px solid $primary-color;
                    border-bottom: none;
                    background-color: $primary-color;
                    color: $quaternary-color;
                }
            }
        }
    }

    .actions-container {
        display: flex;
        width: 10rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 100%;
            border: 2px solid $primary-color;
            background-color: $quaternary-color;
            font-size: 1.5rem;
            color: $primary-color;
            transition: all ease 0.2s;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: $primary-color;
            }
        }
    }
}
