.nav-container {
    display: flex;
    justify-content: space-between;

    .notebook-nav {
        width: 100%;
        display: flex;
        align-items: flex-end;

        ul {
            display: flex;
            list-style-type: none;
            gap: 1rem;
            padding-inline: 1rem;

            li {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem 0.5rem 0 0;
                user-select: none;
                cursor: pointer;

                &.active {
                    border: 2px solid gray;
                    border-bottom: none;
                    background-color: gray;
                }
            }
        }
    }

    .actions-container {
        display: flex;
        width: 10rem;
        justify-content: center;
        align-items: center;
    }
}
